@import "reset.css";

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.canvas {
  width: 700px;
  height: 700px;
  border-radius: 15px;
  background: #f6f9fc;
  box-shadow: 15px 15px 35px #cacccf, -15px -15px 35px #ffffff,
    inset 10px 10px 10px #ffffff, inset -10px -10px 10px #eaedef;
}

.controls {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__range {
  margin-bottom: 30px;
}

.controls input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #dfe6e9;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  box-shadow: inset 3px 3px 4px #acaeb0, inset -3px -3px 4px #ffffff;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: #f6f9fc;
  padding: 8px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #d6d9db, -8px -8px 8px #ffffff;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.controls__btns button:active {
  transform: scale(0.95);
}

.controls__btns button:hover {
  box-shadow: inset 5px 5px 4px #cfd1d4, inset -5px -5px 4px #ffffff;
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 25px;
  background: #f6f9fc;
  box-shadow: 6px 6px 7px #c0c2c5, -6px -6px 7px #ffffff;
}

.controls__color:first-child:hover {
  box-shadow: inset 6px 6px 9px #121212, inset -6px -6px 9px #464646;
}

.controls__color:nth-child(2):hover {
  box-shadow: inset 6px 6px 8px #91260a, inset -6px -6px 8px #ff5416;
}

.controls__color:nth-child(3):hover {
  box-shadow: inset 6px 6px 8px #356d4c, inset -6px -6px 8px #75f2a8;
}

.controls__color:nth-child(4):hover {
  box-shadow: inset 6px 6px 8px #1c396c, inset -6px -6px 8px #3875da;
}

.controls__color:nth-child(5):hover {
  box-shadow: inset 6px 6px 6px #b2a045, inset -6px -6px 6px #ffff71;
}

.controls__color:nth-child(6):hover {
  box-shadow: inset 6px 6px 8px #791d1a, inset -6px -6px 8px #ff433a;
}

.controls__color:nth-child(7):hover {
  box-shadow: inset 6px 6px 6px #8da026, inset -6px -6px 6px #e7ff3e;
}

.controls__color:nth-child(8):hover {
  box-shadow: inset 6px 6px 6px #b08690, inset -6px -6px 6px #ffdaea;
}
.controls__color:nth-child(9):hover {
  box-shadow: inset 6px 6px 8px #b6afa8, inset -6px -6px 8px #fffffc;
}

.controls__color:nth-child(10):hover {
  box-shadow: inset 6px 6px 8px #8d918a, inset -6px -6px 8px #d3d9ce;
}
